html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.slika {
    width: 1920px;
    height: 300px;
    background-image: url('../trinity_college.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.slikadolje {
    width: 1920px;
    height: 573px;
    background-image: url('../trinity_college.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
}