@page
@model IndexModel
@{
    ViewData["Title"] = "Početna Stranica";
}

<div class="text-left">
    <h1 class="display-4">Upisi</h1>
    <p>Molimo vas da izvršite registraciju te prijavu kako bi mogli upisati željenu visoku školu ili fakultet</p>
    <p>Saznajte sva <a href="https://narodne-novine.nn.hr/clanci/sluzbeni/2019_06_63_1249.html">Pravila o upisu</a>.</p>
</div>