@page
@model PrivacyModel
@{
    ViewData["Title"] = "O nama";
}
<h1 style ="color:midnightblue">@ViewData["Title"]</h1>

<p>Fakultet je visokoškolska ustanova i obično je dio sveučilišta. Predstavlja posebnu školsku ustanovu za izučavanje različitih područja određene znanstvene discipline.
    Polaznici fakulteta zovu se studenti, koji na kraju svoga školovanja dobivaju diplome i stječu zvanje u određenom znanstvenom području.
    Fakulteti imaju znanstveno-nastavna vijeća, na čelu im je dekan, organizacijski se dijele na odjele ili odsjeke a oni na katedre za uže znanstvene ili nastavne discipline.
</p>
<p>Naša zadaća je omogučiti siguran upis na željeni fakultet.</p>